html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}


body{
	background: #eaeaea url(../images/header_bg.jpg) repeat-x;
	background-color: #eaeaea;
	font-family: 'Roboto', sans-serif;
}

p, li{
	color: #373737;
}

a{
	color:inherit;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover{
	text-decoration: none;
	color:inherit;
	cursor:pointer;
}

#container{
	width:782px;
	margin:0 auto;
}

#logo{
	width:172px;
}

#nav{
	float:right;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	bottom: 25px;
}

#nav ul li{
	float:left;
}

#content{
	width: 782px;
	margin:32px auto 0 auto;
}

#content .left, #content .middle, #content .right{
	float:left;
	width:220px;
	margin: 0 0 2px 0;
}

#content .right{
	float:right;
	width:285px;
	position: relative;
	top:3px;
}

#content .middle{
	text-align: right;
	margin: 0 35px 0 0;
	position: relative;
	top:17px;
}

.left .promo, .middle .promo, .right .promo{
	font-weight: bold;
	font-size: 11px;
	margin: 0 0 2px 0;
}

.promo_info{
	font-size: 11px;
	font-weight: 400; 
}

.verticalline{
	border-left: 1px solid #373737;
	height: 67px;
	float:left;
}

#map{
  top:18px;
  position: relative;
  margin:0 0 30px 0;
}

#directory{
  top:18px;
  margin:0 auto 50px auto;
  width:715px;
}

.d_title{
	font-size: 22px;
	font-weight: bold;
	margin:20px auto 40px auto;
	width:145px;
	letter-spacing: 2px;
}

.c_title{
	font-size: 22px;
	font-weight: bold;
	margin:20px auto 0px auto;
	width:300px;
	letter-spacing: 2px;
	clear:both;
}

.c_sub_title{
	letter-spacing: 2px;
	width:200px; 
	margin:0 auto 40px auto;
}

.d_footer{
	font-size:10px;
	font-weight: bold;
	float:left;
	margin:0 5px 0 0;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	float:left;
	position: relative;
	top:5px;
}

.foot_contain{
	float:right;
}

#cinema{
	clear:both;
	width:836px;
}

.row_one, .row_two{
	float:left;
	width:836px;
}

.movie{
	float:left;
	margin:0 35px 30px 0;
}

.movie .info {
	width:238px;
	margin:0 auto;
}

.movie .info p{
	font-size: 10px;
	margin:0 auto;
	width:60px;
	padding: 10px 0 3px 0;
}

.movie .info .movie_title{
	font-size: 18px;
	margin:0 auto 5px auto;
	font-weight: bold;
	padding:0;
}

.movie .info .times{
	font-size: 10px;
	margin:0 auto;
	width:170px;
}

.movie .info .times ul li{
	float: left;
	margin:0 10px 0 0;
}

.movie .info .times ul li:nth-child(4){
	margin: 0 10px 0 30px;
}

#info{
	margin:0 auto 30px auto;
	width:700px;
}

.i_title{
	font-size: 22px;
	font-weight: bold;
	margin:20px auto 0px auto;
	width:200px;
	letter-spacing: 2px;
	clear:both;
}

.hours .h_title, .services .s_title, .amenities .a_title, .location .l_title{
	font-size: 18px;
}

.hours, .services, .amenities, .location{
	margin:0 0 20px 0;
}

.services{
	width:700px;
}

.hours p, .services p, .amenities p, .amenities ol li, .location p{
	font-size: 12px;
}

.amenities ol{
	margin: 0 0 0 35px;
}

.amenities ol li{
	list-style: disc;
}


/* TABLE */
table {
	width:715px;
	font-family: 'Roboto', sans-serif;
	margin:0 0 10px 0;
}
table  tr{
	background:#fff;
	height: 60px;
	width:715px;
}

table td{
	padding: 10px;
}

table .odd{
	background:#f2f2f2;
}

table .title{
	font-size: 13px;
	font-weight: bold;
}

table .business{
	font-size: 11px;
}

table .sale{
	font-size: 13px;
	font-weight: bold;
}

table .sale_promo{
	font-size: 11px;
}

table .level{
	font-size: 11px;
	font-weight: bold;
	float:right;
}



/* SLIDES */
#slides {
  display: none;
  margin:0 auto;
  width:782px;
  top:18px;
  position: relative;
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../images/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

#slides {
  display: none
}

.container {
  margin: 0 auto
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    width: auto
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .container {
    width: auto
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px
  }
}

/* For larger displays */
@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}