html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}


body{
	background: #000 url(../images/background.jpg) no-repeat top center;
}

p, li{
	color: #ff6bec;
}

a{
	color:inherit;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover{
	text-decoration: none;
	color:inherit;
	cursor:pointer;
}

#container{
	width:901px;
	margin:0 auto;
	z-index: 0;
	position: relative;
	bottom: 50px;
}

#nav{
	background:url(../images/nav.png) no-repeat;
	height: 47px;
	width:900px;
	z-index: 1;
	position: relative;
	top:175px;
}

#nav ul{
	position: relative;
	top: 12px;
	left: 60px;
}

#nav ul li:nth-child(1){
	margin:0 100px 0 0;
}

#nav ul li:nth-child(2){
	margin:0 370px 0 0;
}

#nav ul li:nth-child(3){
	margin:0 80px 0 0;
}

#nav ul li{
	color:rgba(255, 107, 236, 0.8);
	text-shadow:1px 4px 6px #000, 0 0 0 #000, 1px 4px 6px #000;
	font-family: 'Raleway', sans-serif;
	float: left;
}


.logo{
	background: url(../images/logo.png) no-repeat;
	height: 288px;
	width: 420px;
	z-index: 2;
	margin: 0 auto;
	position: relative;
	right: 29px;
}

.featured_game{
	background: url(../images/featured_game.jpg) no-repeat;
	height: 489px;
	width: 899px;
	z-index: 1;
	position: relative;
	bottom: 115px;
}

.featured_game .text{
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	color: #fff;
	font-weight: 400;
	position: relative;
	top: 20px;
	left: 20px;
}

.turning{
	position: relative;
	top:298px;
}

#hidden{
	position: relative;
	bottom: 150px;
	z-index: 2;
}

.finish_him{
	display: none;
	position: relative;
	top: 70px;
}

#news_container{
	position: relative;
	bottom: 154px;
}

.news{
	background: url(../images/new_bg.jpg) no-repeat;
	height: 270px;
	width: 597px;
	z-index: 1;
	position: relative;
	float: left;
	padding: 70px 0 0 30px;
}

.news p{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 20px 0;
	width: 545px;
}

.big{
	color: #fff;
	font-size: 16px;
}

.ads{
	float: left;
	z-index: 1;
	position: relative;
}

#games_footer{
	background: url(../images/games_bg.jpg) no-repeat;
	height: 161px;
	width: 899px;
	z-index: 1;
	position: relative;
	bottom: 157px;
}

#games{
	position: relative;
	top:50px;
	left:50px;
}

#games li{
	float: left;
	margin:0 50px 0 0;
}

.si_ling_si{
	background: url(../images/bg_si_ling_si.png) no-repeat;
	height:1003px;
	position: relative;
	bottom: 116px;
}

.si_ling_si p{
	text-align: center;
	top:100px;
	position: relative;
	z-index: 2;
}

.si_ling_si a{
	color: #fff;
}

#wallpapers{
	text-align: left;
	width: 435px;
	margin: 0 auto;
}

#wallpapers td{
	padding:0 60px 4px 0;
	font-family: 'Roboto', sans-serif;
	color:#ff52ed;
	font-size: 12px;
}

#wallpapers th{
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#wallpapers td a{
	color:#ff52ed;
	text-decoration: underline;
}

.info{
	position: relative;
	bottom: 145px;
	text-align: center;
}