@charset 'UTF-8';
*{position: relative;}

body{
	background: #000 url('../images/background.jpg') no-repeat;
	background-position: center 0;
}

header{
	position: relative;
	margin:0px;
	padding:0px;
	height:366px;
}

#logo{
	text-align: center;
}

#one_two_three, #snap, #share {
	text-align: center;
}

.image_one{
	right:6px;
	width:398px;
	margin:0 auto;
	top:82px;
}

.image_two{
	left:230px;
	width:327px;
	margin:0 auto;
	top:125px;
}

.image_three{
	right:163px;
	width:432px;
	top:185px;
	margin:0 auto;
}

.image_four{
	left:265px;
	width:327px;
	margin:0 auto;
	top:100px;
}

footer{
	text-align: center;
	clear:both;
	top:305px;
	margin:0 0 50px 0;
}

@media (min-width:320px) and (max-width:568px){
	#logo img{
		max-width: 550px;
	}
}