html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}


body{
	background-color: #eaeaea;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p, li{
	color: #373737;
}

a{
	color:inherit;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover{
	text-decoration: none;
	color:inherit;
	cursor:pointer;
}

#container{
	width:960px;
	margin:0 auto;
	z-index: 0;
}

#sub_container{
	width:895px;
	margin:0 auto;
}

#top_box{
	background:url(../images/top_box_bg.png) no-repeat;
	z-index: 0;
	height: 616px;
	width: 960px;
}

.blue{
	background:url(../images/top_bg_blue.png) no-repeat;
	z-index: 1;
	height: 472px;
	width: 960px;
	position: relative;
	top:61px;
}

.blue img{
	position: relative;
	top: 148px;
	right:239px;
}

.basket{
	position: relative;
	float: right;
	right: 25px;
}

.logo{
	position: relative;
	width:170px;
	height: 72px;
	top:50px;
	left:50px;
}

.tabs{
	position: relative;
	float:right;
	top:25px;
	right:30px;
	z-index: 1;
}

.tabs ul li{
	float:left;
}

.tabs ul li img{
	height: 50px
}

.emergency{
	font-size: 57px;
	color:#fff;
	font-weight: bold;
	text-shadow:3px 3px #000;
	position: relative;
	top:58px;
	left:180px;
	white-space:nowrap;
}

.emergency_sub_title{
	color:#fff;
	position: relative;
	top: 115px;
	font-size: 30px;
	font-weight: bold;
	left: 260px;
	letter-spacing: 2px;
	text-shadow:3px 3px #000;
}

.emergency_sub{
	color:#fff;
	position: relative;
	top: 120px;
	width: 615px;
	left: 190px;
	font-size: 25px;
	text-shadow:3px 3px #000;
}

.quick{
	color:#fff;
	font-size: 22px;
	float:left;
	position: relative;
	top:248px;
	left:60px;
}

.refills{
	color:#fff;
	font-size: 22px;
	float:left;
	position: relative;
	top:248px;
	left:147px;
}

.drug_info{
	color:#fff;
	font-size: 22px;
	float:left;
	position: relative;
	top:248px;
	left:222px;
}

#featured_container{
	background:url(../images/featured_deals_bg.png) no-repeat;
	z-index: 0;
	float: left;
	height: 383px;
	width: 602px;
}

.deal_one, .deal_two, .deal_three, .deal_four{
	float:left;
	position: relative;
	top:65px;
	left:22px;
}

.deal_one, .deal_three{
	margin:0 20px 0 0;
}

#twitter_container{
	float: left;
	width: 293px;
	height: 383px; 
	z-index: 0;
	position: relative;
	top:6px;
}

#bottom_row{
	background: url(../images/bottom_bar_bg.png) no-repeat;
	z-index: 0;
	width:895px;
	height: 170px;
	float: left;
	z-index: 0;
}

.promo_one, .promo_two, .promo_three{
	float:left;
	position: relative;
	top:40px;
	left:20px;
}

.promo_one, .promo_two{
	margin:0 25px 0 0;
}

#logo_error{
	width: 322px;
	margin: 0 auto 55px auto;
}

.text{
	width:485px;
	margin:0 auto;
}

.text .sorry{
	font-size: 19px;
	margin:0 0 25px 0;
}

.text .sorry_bold{
	font-weight: bold;
	text-align: center;
	margin:0 0 10px 0;
}

.text ul{
	margin:0 0 0 80px;
}

.text ul li{
	margin: 0 0 5px 0;
	font-size: 13px;
}

.button{
	width: 170px;
	margin: 0 auto;
	position: relative;
	top:30px;
}

#footer{
	background: url(../images/footer_bg.png) no-repeat;
	width: 895px;
	height: 223px;
	margin: 30px auto 0 33px;
	float: left;
}

#footer ul{
	float: left;
	margin:20px 40px 0 40px;
}

#footer ul:nth-child(1){
	margin: 20px 80px 0 40px !important;
}

#footer ul:nth-child(2){
	margin: 20px 15px 0 40px !important;
}

#footer ul li{
	font-size: 13px;
}

#footer ul li.top{
	font-weight: bold;
}